.contact-section1 {
  display: flex;
  justify-content: center;
  padding: 5rem 3rem;
  p {
    font-size: 14px;
    text-wrap: wrap;
    color: #a5a5a5;
  }

  h4 {
    font-size: 17px;
    font-family: $poppins;
    font-weight: bold;
  }

  a {
    font-weight: bold;
    color: $brown-custom;
    text-decoration: none;
  }
  &-container {
    max-width: 1200px;
  }

  .bottom-row {
    p {
      width: 100%;
      text-wrap: wrap;
    }
  }

  &-social {
    .social {
      display: flex;
      align-items: center;
      height: 100%;
    }

    ul {
      list-style-type: none;
      width: 100%;
      display: flex;
      gap: 0.8rem;

      padding-left: 0 !important;
    }
  }

  .left-col {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .right-col {
    input {
      width: 100%;

      border: none;
      box-shadow: 0px 0px 5px rgba($color: #000000, $alpha: 0.3);
      padding: 1rem;
    }

    #message {
      height: 130px;
      margin-bottom: 3rem;
    }

    &-box {
      width: 100%;
    }
  }
}
